body{
    margin: 15px;
}
.text-my-own-color {
    color: #663300 !important;
}
.styleForMessage{
    width: 50%;
}
td {
 word-break: break-word;
}
select [value="0"] {
    background-color: rgba(100, 100, 100, 0.3);
}